<div class="container">
    <div class="content-1">
        <app-image class="logo" img="header-logo-pro" width="190px" height="42px"></app-image>
        <h1 class="title p-color">Você sabia que pode aumentar suas chances de ganhar na Mega-Sena, investindo menos de R$ 1 por dia?</h1>
        <p class="text s-color">Em apenas 5 minutos vou te mostrar como mudar sua forma de jogar com o método Mega Sem Segredo.</p>

        <div class="active-sound-container hide-desktop">
          <span class="active-sound s-color">Ative o som</span>
          <img src="/assets/img/sound.png" alt="">
        </div>

        <iframe
          class="mobile-video hide-desktop"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-3g5E6HCgKQ?si=TUW0Y0cW54Z7czSo&autoplay=1&mute=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <a class="subscription-button" href="#plans">
            <button class="p-button">Assinar plano PRO</button>
        </a>
    </div>
    <div class="content-2 hide-mobile">
    </div>
    <div class="content-video hide-mobile">
      <div class="active-sound-container">
        <span class="active-sound s-color">Ative o som</span>
        <img src="/assets/img/sound.png" alt="">
      </div>

      <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/-3g5E6HCgKQ?si=TUW0Y0cW54Z7czSo&autoplay=1&mute=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      ></iframe>
    </div>
</div>
