.container {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;


    .content-1 {
        height: 625px;
        background: radial-gradient(
          58.71% 50.71% at 50% 50%,
          rgba(64, 173, 28, 0.3019607843) 30%,
          #000 80%);
        gap: 16px;
        display: flex;
        align-items: center;

        .arrow {
            cursor: pointer;
            padding: 6px;
        }

        .slider-content {
            width: 537px;
            height: 336px;
            border: 8px solid var(--primary-color);

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .content-2 {
        display: flex;
        flex-direction: column;

        .subtitle {
            max-width: 553px;
            font-weight: 200;
            line-height: 42px;
            font-size: 32px;
            margin-bottom: 26px;

            .p-color {
                font-weight: 700;
            }
        }

        ul {
            gap: 4px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            li {
                font-weight: 300;
                line-height: 25px;
            }
        }

        .p-button {
            margin-top: 32px;
            padding: 20px 67px;
        }
    }
}
