.content-3 {
    gap: 125px;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    background: url('/assets/images/home/background-volante.png') no-repeat center center;
    background-size: cover;

    .hc3-info {
      display: flex;
      max-width: 528px;
      margin-top: -58px;
      flex-direction: column;


      .hc3-title {
        font-size: 30px;
        color: #40AD1C;
        font-weight: 800;
        line-height: 31px;
      }

      .hc3-text {
        color: white;
        font-size: 25px;
        font-weight: 500;
        line-height: 27px;
      }

      .t1 {
        margin-top: 32px;
        margin-bottom: 42px;
      }

      .t2 {
        margin-bottom: 20px;
      }

      .hc3-text-box {
        gap: 10px;
        display: flex;
        flex-direction: column;
      }

      .hc3-text-icon {
        gap: 8px;
        display: flex;
        align-items: center;
      }
    }

    .hc3-img {
      padding-top: 48px;
    }

    .highlight-text {
      color: #40AD1C;
      font-weight: 700;
    }
  }

  .p-button {
    margin-top: 32px;
    padding: 20px 57px;
  }