<div class="content content-3">
    <div class="hc3-info">
      <span class="hc3-title">Abandone o jeito antigo de apostar e passe para o novo nível de Jogo.</span>
      <span class="hc3-text t1">Olá, sou <span class="highlight-text">Adalberto Benevides Júnior</span>
        fundador da Mega Comunidade, que tem como missão
        democratizar a sorte, contribuindo para que
        os prêmios da Mega-Sena sejam distribuídos
        para mais pessoas.
      </span>
      <span class="hc3-text t2">Com os produtos da Mega Comunidade você se tornará um apostador de sucesso!</span>
      <div class="hc3-text-box">
        <div class="hc3-text-icon">
          <img src="/assets/img/done-2.svg">
          <span class="hc3-text">Aplicativo que potencializa suas apostas</span>
        </div>
        <div class="hc3-text-icon">
          <img src="/assets/img/done-2.svg">
          <span class="hc3-text">Marcador automático de apostas</span>
        </div>
        <div class="hc3-text-icon">
          <img src="/assets/img/done-2.svg">
          <span class="hc3-text">Livro Loteria Sem Segredo</span>
        </div>
      </div>

      <a href="#payment">
        <button class="p-button">Assinar plano PRO</button>
      </a>
    </div>
    <div class="hc3-img">
      <img src="/assets/img/adalberto.png">
    </div>
  </div>
