<div class="container">
    <div class="content">
      <div class="content-1">
        <app-image class="phone-image hide-desktop" img="celular" width="90%" height="90%"></app-image>
      </div>
      <div class="content-image hide-mobile">
        <app-image class="phone-image" img="celular" width="90%" height="90%"></app-image>
      </div>
        <div class="content-2">
            <h1 class="title p-color">Aplicativo Mega Sem Segredo</h1>
            <ul>
                <li class="s-text s-color">Armazenamento de até 10.000 combinações pelo app Mega Sem Segredo (200 por vez)</li>
                <li class="s-text s-color">Dicas e estatísticas avançadas</li>
                <li class="s-text s-color">PDF das combinações</li>
                <li class="s-text s-color">Envio de volantes preenchidos por e-mail</li>
            </ul>
        </div>
    </div>

    <div class="content">
      <div class="content-1">
        <app-image class="phone-image hide-desktop" img="notebook" width="90%" height="90%"></app-image>
      </div>
      <div class="content-image hide-mobile">
        <app-image class="phone-image" img="notebook" width="90%" height="90%"></app-image>
      </div>
      <div class="content-2">
          <h1 class="title p-color">Marca Rápido</h1>
          <div class="info-2">
              <p class="s-text s-color">Não quer mais enfrentar trânsito para fazer seu jogo, nem perder tempo em filas? A solução está aqui!</p>
              <p class="s-text p-color">Transmissão e marcação automática de suas combinações para o site da Caixa, via computador ou através de celular com sistema operacional Android.</p>
          </div>
      </div>
    </div>

    <div class="content">
      <div class="content-1">
        <app-image class="phone-image hide-desktop" img="phone-lotteries" width="90%" height="90%"></app-image>
      </div>
      <div class="content-image hide-mobile">
        <app-image class="phone-image phone-lottries" img="phone-lotteries" width="90%" height="90%"></app-image>
      </div>
      <div class="content-2">
          <h1 class="title p-color">Gerador de combinações</h1>
          <div class="info-2">
              <p class="s-text s-color">Crie combinações inteligentes de maneira simples e eficaz. Transforme sua experiência de maneira estratégica, explorando novas possibilidades e aumentando suas chances de premiação!
              </p>
          </div>
      </div>
    </div>

    <div class="content">
      <div class="content-1" >
        <app-image class="phone-image hide-desktop" img="quina" width="90%" height="90%"></app-image>
      </div>
      <div class="content-image hide-mobile">
        <app-image class="phone-image" img="quina" width="90%" height="90%"></app-image>
      </div>
        <div class="content-2" >
            <h1 class="title p-color">Participação na promoção</h1>
            <div class="info-2 info-quina">
              <p class="s-text s-color">Participação exclusiva para assinantes PRO, na promoção Quina de São João,
                com um jogo de <strong>R$ 1.105,00</strong> por grupo de 100 assinantes, que irá concorrer ao prêmio estimado de <strong>R$ 230 milhões</strong>.
              </p>
              <span class="info-text">Detalhe: na Quina de São João de 2019, ninguém acertou as cinco dezenas (quina) e o prêmio principal de mais de R$ 150 MILHÕES foi destinado a quem acertou quatro dezenas (quadra). Naquele concurso, NÓS ACERTAMOS QUADRA.  Mais um motivo para acreditar!</span>
              <a class="comprovante-link" href="/assets/docs/PREMIAÇÃO DE QUADRA.pdf" target="_blank">Ver comprovante</a>
            </div>
          </div>
    </div>
</div>
