.container {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;

    .content-1 {
        gap: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        padding-top: 17px;
        padding-bottom: 20px;
    }

    .content-2 {
        height: 16px;
        width: 100%;
        background-color: #208100;
    }
}