<div class="container">
    <div class="content">
        <h1 class="title s-color">Adquira agora o Plano PRO</h1>

        <div class="card-container">
            <div class="card">
                <span class="text card-title">Escolha a melhor forma de pagamento pra você</span>

                <div class="payment">
                    <span class="payment-description p-color">À vista</span>
                    <span class="payment-value p-color">R$180</span>
                </div>

                <div class="payment">
                    <span class="payment-description p-color">No cartão de crédito</span>
                    <span class="payment-value p-color">R$240</span>
                    <span class="payment-text">R$ 20 por mês</span>
                </div>

                <button class="p-button">Assinar agora!</button>
            </div>
        </div>

        <app-image img="safe" width="fit-content" height="fit-content"></app-image>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>