.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        height: 398px;
        max-width: 1132px;
        margin-top: 158px;
        background-color: #40AD1C1A;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .content-1 {
            width: 100%;
            max-width: 516px;
            margin-top: -98px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            app-image {
              height: 451px;
            }

            .author-name {
                width: 100%;
                text-align: center;
                padding: 9px 0 8px;
                background-color: #090909;
                border-top-right-radius: 12px;

                span {
                    font-weight: 700;
                }
            }
        }

        .content-2 {
            width: 100%;
            gap: 24px;
            display: flex;
            flex-direction: column;

            span {
              max-width: 544px;
                font-weight: 500;
                line-height: 30px;

                .p-color {
                    font-weight: 700;
                }
            }
        }

        .selo {
            position: absolute;
            margin-top: 397px;
            margin-left: 1100px;
        }
    }
}
