<div class="container">
    <h1 class="title s-color">Que bom que nos encontrou. </h1>
    <h1 class="title p-color">Nosso objetivo é democratizar a sorte.</h1>

    <div class="content">
        <div class="content-1">
           <app-image class="author-image" img="autor" width="285px" height="451px"></app-image>
           <div class="author-name">
                <span class="text s-color">Professor Adalberto Benevides Júnior</span>
           </div>
        </div>
        <div class="content-2">
            <p class="text s-color">
                O <span class="p-color">método da Mega Comunidade</span> foi criado com o objetivo de proporcionar mais chances de premiação aos apostadores da Mega-Sena, 
                usando técnicas avançadas para a geração de combinações que seguem os padrões dos formatos mais prováveis em seus resultados. 
                <span class="p-color"></span>
            </p>

            <p class="text s-color">
                Podemos dizer que é a melhor comunidade de apostadores por conta dos resultados obtidos quando comparamos com outros grupos de combinações que não seguem 
                a nossa metodologia.
            </p>
        </div>
        <app-image class="selo" img="m-selo" width="96px" height="101px"></app-image>
    </div>
</div>