<div class="container">
    <div class="content-1">
        <app-image width="510px" height="505px" img="homem-frustrado"></app-image>
    </div>
    <div class="content-2">
        <h1 class="title p-color">Você está cansado de:</h1>
        <ul>
            <li class="text s-color">Apostar na sorte sem <span class="p-color">nunca ganhar?</span></li>
            <li class="text s-color">Gastar dinheiro em jogos e <span class="p-color">nunca ver retorno?</span></li>
            <li class="text s-color">Ter <span class="p-color"> dificuldade em escolher os números certos,</span> sem saber por onde começar?</li>
            <li class="text s-color">Sentindo que jogar na Mega-Sena é <span class="p-color"> jogar dinheiro fora?</span></li>
        </ul>
        <p class="m-text p-color">Quer aumentar suas chances de ganhar, mas não tem um método eficaz?</p>
        <a href="#payment">
            <button class="p-button">Assine o plano Pro e descubra!</button>
        </a>
    </div>
</div>
