.container {
    gap: 94px;
    display: flex;
    padding: 93px 32px;
    align-items: center;
    justify-content: center;

    .content-1 {
        background: radial-gradient(
            65.71% 66.71% at 50% 50%,
            #40AD1C4D 30%,
            #000 79%);
    }

    .content-2 {
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 24px;
        }

        ul {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 24px;
            max-width: 552px;
        }

        li {
            font-weight: 200;
            

            span {
                font-weight: 700;
            }
        }

        li::marker {
            color: var(--primary-color);
        }

        .m-text {
            max-width: 554px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .p-button {
            padding: 20px 77px;
        }
    }
}