@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #000000;
    --primary-color: #40AD1C;
    --secundary-color: #FFFFFF;
    --font-family: 'Nunito';
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
  background-color: var(--background-color);
}

.title {
    font-size: 35px;
}

.m-text {
    font-size: 24px;
}

.text {
    font-size: 20px;
}

.p-color {
    color: var(--primary-color);
}

.s-color {
    color: var(--secundary-color);
}

.p-button {
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    line-height: 14px;
    width: fit-content;
    border-radius: 40px;
    color: var(--secundary-color);
    background-color: var(--primary-color);

    &:active {
        opacity: 0.9;
    }
}

button:hover {
  background-color: #196500;
  transform: scale(1.1);
}

.hide-desktop {
    display: none !important;
}

@media(max-width: 1040px) {
    .hide-desktop {
        display: flex !important;
    }

    .hide-mobile {
        display: none !important;
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        line-height: 26px !important;
        font-size: 22px !important;
    }

    .m-text {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }

    .p-button {
        line-height: 18px;
    }
}