<div class="container">
    <div class="content-1">
        <app-image class="logo" img="logo" width="190px" height="42px"></app-image>
        <h1 class="title p-color">Você sabia que pode aumentar suas chances de ganhar na Mega-Sena, investindo menos de R$ 1 por dia?</h1>
        <p class="text s-color">Em apenas 5 minutos vou te mostrar como mudar sua forma de jogar com o método Mega Sem Segredo</p>
        <a href="https://mega-sem-segredo.vercel.app/#/checkout">
            <button class="p-button">Assinar plano PRO</button>
        </a> 
    </div>
    <div class="content-2">
        <iframe width="560" height="315"  src="https://www.youtube.com/embed/vV63aQa2RCI?si=t5hy8ysNsURBb2jn&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>